# Dependencies
node_modules/

# Build
dist/
dist-ssr/
src-tauri/target/

# Logs
*.log
npm-debug.log*

# Local config
*.local

# OS
.DS_Store
Thumbs.db

# Claude
.claude/
CLAUDE.md
docs/

# Editors
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
